@{
    ViewData["Title"] = "Home Page";
    var date = ViewBag.Date;
}

<div class="text-center">
    @if (date.Hour > 16)
    {
        <div>Bonsoir</div>
    }
    else
    {
        <div>Bonjour</div>
    }
</div>
